* {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.forgotPassWrapper {
  border-radius: 2em;
  border: 1px solid #FFD12F;
  height: 25rem;
  margin-bottom: 12em;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .forgotPassWrapper {
    height: 25rem;
  }
}
.forgotPassWrapper h3 {
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .forgotPassWrapper h3 {
    text-align: start;
  }
}
.forgotPassWrapper form .submitBtn, .forgotPassWrapper form label {
  font-size: 1em;
}
@media screen and (max-width: 576px) {
  .forgotPassWrapper form .submitBtn, .forgotPassWrapper form label {
    font-size: 1rem;
  }
}
.forgotPassWrapper form .inputField {
  border: 1px solid #FFD12F;
  background-color: inherit;
  color: aliceblue;
  border-radius: 2em;
  font-weight: bold;
  font-size: 1em;
}
@media screen and (max-width: 576px) {
  .forgotPassWrapper form .inputField {
    font-size: 0.9rem;
  }
}
.forgotPassWrapper .submitBtn {
  justify-self: end;
}
.forgotPassWrapper .codeForm {
  display: none;
  visibility: hidden;
}
.forgotPassWrapper .newPassForm {
  display: none;
}