* {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.wrapper {
  border-radius: 2em;
  border: 1px solid #FFD12F;
  height: 30rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .wrapper {
    height: 25rem;
  }
}
.wrapper h2 {
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .wrapper h2 {
    text-align: start;
  }
}
@media screen and (max-width: 576px) {
  .wrapper form .submitBtn, .wrapper form label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .wrapper form .inputField {
    font-size: 0.9rem;
  }
}
.wrapper .submitBtn {
  justify-self: end;
}
.wrapper .emailForm {
  display: none;
}
.wrapper .codeForm {
  display: none;
  visibility: hidden;
}