.navbar {
  background-color: #FFD12F;
  justify-content: flex-start;
  padding: 0em 0em;
  position: sticky;
  top: 0;
}

a {
  color: #272323;
  text-decoration: none;
}

.logo-container {
  display: flex;
}
.logo-container .logo {
  max-height: 100%;
  margin: 0.3em 3em;
}

.hamBtn {
  margin: 0.3em 2em;
}

.userlinks-container {
  padding: 0.5em 3em;
  display: flex;
  justify-content: end;
  align-items: center;
}
.userlinks-container .userlinks {
  display: flex;
  justify-content: flex-end;
  margin: 0em 1em;
  width: 30%;
}
.userlinks-container .userlinks .icon {
  width: 1.6em;
}
.userlinks-container .userlinks .stats {
  font-size: 1.3rem;
  color: black;
}
.userlinks-container .userlinks .dashboard {
  font-size: 1.49rem;
  color: #272323;
}
.userlinks-container .registrationLink {
  padding: 0.5em 0.9em;
  background-color: aliceblue;
  border-radius: 0.5em;
  font-size: 0.96em;
}

.searchbar-container {
  background-color: aliceblue;
  flex-direction: column;
  border-radius: 2em;
  height: 2.6em;
}
.searchbar-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.searchbar-container form input {
  width: 85%;
  height: 100%;
  outline: none;
  border: none;
  background-color: aliceblue;
  font-size: 1.2em;
  color: #272323;
}
.searchbar-container form button {
  background-image: url("../Assets/search-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 5%;
  height: auto;
  border: none;
  background-color: aliceblue;
}
.searchbar-container .suggestedItems {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  list-style: none;
}
.searchbar-container .suggestedItems li {
  display: flex;
}
.searchbar-container .suggestedItems li:hover {
  background-color: #FFD12F;
}

.mobilenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10em;
  font-size: 1.2em;
  margin: 0;
  padding: 0.3em;
  background-color: #272323;
  border-bottom: 1px solid #FFD12F;
}
.mobilenav a {
  color: aliceblue;
}