.orderInfo {
  border: 1px solid #FFD12F;
  min-height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.orderInfo .finalPrice {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border-top: 1px solid #FFD12F;
}
.orderInfo .finalPrice div {
  display: flex;
  justify-content: space-between;
}
.orderInfo ul {
  list-style-type: none;
}
.orderInfo li {
  display: flex;
  justify-content: space-between;
}