* {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.registrationWrapper {
  border: 1px solid #FFD12F;
  border-radius: 2em;
}
.registrationWrapper .header {
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  .registrationWrapper .header {
    text-align: start;
    margin-top: 0;
  }
}
.registrationWrapper .submitBtn {
  background-color: inherit;
  font-size: 1rem;
  border: 1px solid #FFD12F;
  border-radius: 2em;
}
.registrationWrapper .submitBtn:hover {
  background-color: #FFD12F;
  color: #272323;
}
.registrationWrapper label {
  font-size: 1rem;
  margin-bottom: 0.2em;
}
.registrationWrapper .inputField {
  border: 1px solid #FFD12F;
  background-color: inherit;
  color: aliceblue;
  border-radius: 2em;
  font-weight: bold;
  font-size: 1rem;
}
.registrationWrapper .inputField::placeholder {
  color: gray;
  font-weight: lighter;
}