.cartNavbar {
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
}
.cartNavbar .cart, .cartNavbar .transport, .cartNavbar .customerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cartNavbar .rounded-circle {
  border: 1px solid #FFD12F;
  width: 2rem;
  height: 2rem;
}
.cartNavbar .cart::after, .cartNavbar .transport::after {
  content: "";
  background-color: #FFD12F;
  height: 1px;
  width: 8rem;
}