.shoppingCartWrapper {
  display: flex;
  flex-direction: column;
}
.shoppingCartWrapper .rowWrapper {
  display: flex;
}
.shoppingCartWrapper .cartWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}
.shoppingCartWrapper .orderWrapper {
  height: 30rem;
}