.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyCart i {
  font-size: 3rem;
}

.itemList .orderItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #FFD12F;
}
.itemList .orderItem div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itemList .orderItem .priceInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itemList .orderItem .priceInfo p {
  text-align: center;
}
.itemList .orderItem .priceInfo .itemCounter {
  display: flex;
  background-color: aliceblue;
  border-radius: 1.5rem;
  width: 5rem;
}
@media screen and (min-width: 576px) {
  .itemList .orderItem .priceInfo .itemCounter {
    width: 7rem;
  }
}
.itemList .orderItem .priceInfo .itemCounter input[type=number]::-webkit-inner-spin-button,
.itemList .orderItem .priceInfo .itemCounter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.itemList .orderItem .priceInfo .itemCounter input, .itemList .orderItem .priceInfo .itemCounter button {
  border: none;
  color: #272323;
  height: 2rem;
  width: 2rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .itemList .orderItem .priceInfo .itemCounter input, .itemList .orderItem .priceInfo .itemCounter button {
    width: 2.7rem;
  }
}
@media screen and (min-width: 756px) {
  .itemList .orderItem .priceInfo .itemCounter input, .itemList .orderItem .priceInfo .itemCounter button {
    width: 3rem;
  }
}
.itemList .orderItem .priceInfo .itemCounter button {
  width: 2rem;
  height: 2rem;
}