.shoppingCartWrapper {
  display: flex;
  flex-direction: column;
}
.shoppingCartWrapper .rowWrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .shoppingCartWrapper .rowWrapper {
    flex-direction: row;
  }
}
.shoppingCartWrapper .cartWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}
.shoppingCartWrapper .orderWrapper {
  height: 30rem;
}