* {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
}

.login-container {
  border: 1px solid #FFD12F;
  border-radius: 2em;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container .header {
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  .login-container .header {
    text-align: start;
    margin-top: 0;
  }
}
.login-container img {
  height: 5rem;
  width: auto;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.login-container form label {
  text-align: center;
  font-size: 0.9rem;
}
@media screen and (min-width: 576px) {
  .login-container form label {
    font-size: 1.3rem;
  }
}
.login-container form .inputField {
  border: 1px solid #FFD12F;
  background-color: inherit;
  color: aliceblue;
  border-radius: 2em;
  font-weight: bold;
  font-size: 1.2rem;
}
.login-container form a {
  color: aliceblue;
}
.login-container a {
  font-size: 0.8rem;
}

.submitBtn {
  background-color: inherit;
  font-size: 1.5rem;
  border: 1px solid #FFD12F;
  border-radius: 2em;
}
.submitBtn:hover {
  background-color: #FFD12F;
  color: #272323;
}
@media screen and (max-width: 768px) {
  .submitBtn {
    font-size: 1rem;
  }
}