$primaryColor: #272323;
$secondaryColor: #FFD12F;

.companyHeader {
    display: flex;
    align-items: end;
    border-bottom: 1px solid $secondaryColor;
    h3 {
        font-weight: bold;
    }
}
.customerInfo {
    display: flex;
    justify-content: space-between;
}

.companyInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .submitDiv {
        display: flex;
        flex-direction: row;
        justify-content: end;
        .continueBtn {
            background-color: inherit;
            font-size: 1.2rem;
            border: 1px solid $secondaryColor;
            border-radius: 2em;
            color: aliceblue;
            &:hover {
                background-color: $secondaryColor;
                color: $primaryColor;
            }
            @media screen and (max-width: 768px){
                font-size: 1em;
            }
        }
    }
}

.roww {
    margin: 0;
    select {
        option {
            background-color: $primaryColor;
            border: none;
            outline: none;
        }
    }
}