$primaryColor: #272323;
$secondaryColor: #FFD12F;

* {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:aliceblue
}

.wrapper {
    border-radius: 2em;
    border: 1px solid $secondaryColor;
    height: 30rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 576px) {
        height: 25rem;
    }
    h2 {
        font-weight: bold;
        text-align: center;
        @media screen and (min-width: 576px) {
            text-align: start;
        }
    }
    form {
        .submitBtn, label {
            @media screen and (max-width: 576px) {
                font-size: 1rem;
            }
        }
        .inputField {
            @media screen and (max-width: 576px) {
                font-size: 0.9rem;
            }
        }
    }
    .submitBtn {
        justify-self: end;
    }
    .emailForm {
        display: none;
    }
    .codeForm {
        display: none;
        visibility: hidden;
    }
    .newPassForm {
        //display: none;
    }
}