$primaryColor: #272323;
$secondaryColor: #FFD12F;

* {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:aliceblue
}

.wrapper {
    border-radius: 2em;
    border: 1px solid $secondaryColor;
    .forgotpass {
        display: flex;
    }
    .code {
        //visibility: hidden;
    }
}