$primaryColor: #272323;
$secondaryColor: #FFD12F;

* {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:aliceblue
}

.forgotPassWrapper {
    border-radius: 2em;
    border: 1px solid $secondaryColor;
    height: 25rem;
    margin-bottom: 12em;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 576px) {
        height: 25rem;
    }
    h3 {
        font-weight: bold;
        text-align: center;
        @media screen and (min-width: 576px) {
            text-align: start;
        }
    }
    form {
        .submitBtn, label {
            font-size: 1em;
            @media screen and (max-width: 576px) {
                font-size: 1rem;
            }
        }
        .inputField {
            border: 1px solid $secondaryColor;
            background-color: inherit;
            color: aliceblue;
            border-radius: 2em;
            font-weight: bold;
            font-size: 1em;
            @media screen and (max-width: 576px) {
                font-size: 0.9rem;
            }
        }
    }
    .submitBtn {
        justify-self: end;
    }
    //.emailForm {
        //display: none;
    //}
    .codeForm {
        display: none;
        visibility: hidden;
    }
    .newPassForm {
        display: none;
    }
}