$primaryColor: #272323;
$secondaryColor: #FFD12F;

* {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.productView-container {
    padding: 0;
    overflow: hidden;
    .topImage {
        background-size: cover;
        margin: 0;
        /*background-attachment: fixed;*/
        height: 15em;
        background-position-y: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h2 {
            font-size: 1.4em;
            font-family: 'Times New Roman', Helvetica, sans-serif;
            font-weight: bold;
            font-style: italic;
            color: aliceblue;
            font-style: italic;
            @media screen and (min-width: 576px ) {
                font-size: 2.2em;
            }
            @media screen and (min-width: 768px ) {
                font-size: 2.5em;
            }
            @media screen and (min-width: 1400px ) {
                font-size: 2.9em;
            }
        }
    }
    .category {
        border-bottom: 1px solid $secondaryColor;
        display: flex;
        .categoryName {
            padding: 0rem 1rem;
            @media screen and (min-width: 768px) {
                padding-left: 3rem;
            }
            @media screen and (min-width: 992px) {
                padding-left: 6rem;
            }
            
        }
    }
    
    .sortBy {
        display: flex;
        flex-direction: row;
        @media screen and (min-width: 768px) {
            padding: 1rem 3rem;
            justify-content: flex-start;
        }
        @media screen and (min-width: 992px) {

            padding-left: 6rem;
        }
        .sort {
            display: flex;
            border: 1px solid $secondaryColor;
            outline: none;
            background-color: inherit;
            color: aliceblue;
            font-weight: bold;
            font-size: 0.8em;
            @media screen and (min-width: 768px) {
                width: 30%;
            }
            @media screen and (min-width: 992px) {
                width: 25%;
            }
            @media screen and (min-width: 1400px) {
                width: 15%;
            }
            option {
                background-color: $primaryColor;
                border: none;
                outline: none;
            }
        }
    }
    
    .filter {
        display: flex;
        flex-direction: column;
        button {
            border: 1px solid $secondaryColor;
            background-color: inherit;
            border-radius: 2em;
        }
        ul {
            background-color: inherit;
            list-style-type: none;
            button {
                border-radius: 0;
            }
        }
        .sideOffsetPanel {
            background-color: $primaryColor !important;
            display: flex;
            button {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $secondaryColor;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            ul {
                font-size: 0.9em;
                .form-check-input{
                    background-color: inherit;
                    border: 1px solid $secondaryColor;
                }
            }
        }
        .filterNavigation {
            display: flex;
            h2 {
                color: aliceblue;
            }
            .close {
                border: none;
                color: aliceblue !important;
            }
            
        }
    }
    .contentWrapper {
        display: flex;
        padding: 0rem 0.2rem;
        @media screen and (min-width: 576px) {
            padding: 0em 2rem;    
        }
        @media screen and (min-width: 768px) {
            padding: 0em 3rem; 
        }
        @media screen and (min-width: 992px) {
            padding: 0em 6rem;    
        }
        .sidebar {
            //background-color: aqua;
            display: flex;
            flex-direction: column;
            h5 {
                border-bottom: 1px solid $secondaryColor;
            }
            button {
                border-radius: 0;
                background-color: $primaryColor;
                border: none;
                font-size: 0.9em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            ul {
                list-style: none;
                font-size: 0.9em;
                .form-check-input{
                    background-color: inherit;
                    border: 1px solid $secondaryColor;
                }
            }
        }
        .itemView {
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                //gap:0.2em;
                gap: 0.1em;
                @media screen and (min-width: 576px) {
                    justify-content: start;
                }
                .item {
                    //border: 1px solid $secondaryColor;                                  
                    border-radius: 0.5em;
                    padding: 0em;
                    width: 14em;
                    height: 18.4em;
                    box-shadow:0 0 0 1px #141313;
                    &:hover{
                        box-shadow: 0 0 0 1px rgba(255, 209, 47, 0.3);    
                    }
                    @media screen and (min-width: 576px) {
                        width: 15em;
                        height: 20em;
                    }
                    @media screen and (min-width: 992px) {
                        width: 17em;
                        height: 22em;
                    }
                    @media screen and (min-width: 1400px) {
                        width: 17.22em;
                        height: 24em;
                    }
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        height: 100%;
                    }
                    img {
                        width: 12em;
                        height: auto;
                        @media screen and (max-width: 576px) {
                            width: 10em;
                            height: auto;
                        }
                    }
                    .itemInfo {
                        display: flex;
                        flex-direction: column;
                        background-color: #242122;
                        border-bottom-left-radius: 0.6em;
                        border-bottom-right-radius: 0.6em;
                        //flex: 1;
                        align-self: flex-end;
                        font-size: 0.8em;
                        div {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                    }
                }
            };
        }
    }
}